/* #action_col {
    max-width: 100px !important;
    min-width: 90px !important;
    width: 100px !important;
}

#action_col {
    max-width: 50px !important;
    min-width: 90px !important;
    width: 50px !important;
} */